.rankItem {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 1rem;
    height: 10rem;
    background-color: transparent;
    border: 0.4rem solid #242424;
    padding: 1rem;
    box-sizing: border-box; // 💡 패딩 포함한 크기 유지
    border-radius: 1rem;
}


.rank {
    flex-basis: 15%; /* 전체 너비의 20% */
    font-family: 'title-font' , sans-serif;
    font-size: 2.2rem;
    text-align: center;
    flex-grow: 0; /* 추가적인 공간을 차지하지 않도록 설정 */

}


.rowTwo {
    flex-basis: 25%; /* 전체 너비의 20% */
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 0.5rem;
    //background-color: red;
    img {
        width: 50px;  /* 원하는 크기로 설정 */
        height: 50px; /* 정사각형 유지 */
        border-radius: 50%; /* 원형 */
        object-fit: cover; /* 이미지가 찌그러지지 않게 */
        display: block;
    }
    span {
        box-sizing: border-box;
        font-size: 1.5rem;
        font-family: "title-font" , sans-serif;
        text-align: center;
        max-width: 100%; /* 최대 너비 설정 */
        overflow: hidden; /* 너비를 넘어가면 숨김 */
        text-overflow: ellipsis; /* 글자가 넘어가면 줄임표(...) 표시 */
        white-space: nowrap; /* 텍스트가 한 줄에 표시되도록 설정 */
        display: inline-block; /* span을 블록 레벨 요소처럼 동작하도록 설정 (선택 사항) */
    }
}


.rowThree {
    flex-basis: 60%; /* 전체 너비의 20% */
    display: flex;
    gap: 0.8rem;
    flex-direction: column;
    justify-content: flex-start;

    height: 100%;
    font-size: 1.3rem;
    font-family: 'title-font' , sans-serif;


    .tierAndPoint {
        height: 70%;
        display: flex;
        align-items: center;
        justify-content: flex-start;


        .tierImage {
            height: 100%;
            object-fit: cover; /* 이미지가 찌그러지지 않게 */
            display: block;
            //background-color: red;
            text-align: center;
        }

        .tierAndPointText {
            display: flex;
            gap: 0.4rem;
            align-items: center;
            width: 100%;
            height: 100%;
            font-size: 1.1rem;
        }

    }


    .winRateBox {
        height: 30%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 1.1rem;
    }


}





//.winRateBox {
//    font-size: 0.7rem;
//    background-color: gainsboro;
//    padding: 3px 10px;
//    width: 9rem;
//    text-align: center;
//
//}
