.rankItem {
    display: grid;
    grid-template-columns: 0.7fr 1.3fr 1.7fr;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
    margin-top: 1rem;
    
}

.rowOne {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    font-weight: 900;
    
}

.rowTwo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;
    

}
.rowTwo div:first-child {
    border-radius: 50%;
    padding: 0.5rem 0.2rem;
    border: 1px solid black;
    font-size: 0.7rem;
    
}
.rowTwo div:nth-child(2) {
    font-size: 0.7rem;
    background-color: gainsboro;
    padding: 3px 10px;
    width: 5rem;
    text-align: center;
}


.rowThree {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
}


.tierAndPoint {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    font-size: 0.7rem;
}
.tierAndPoint div:first-child {
    border-radius: 50%;
    padding: 0.3rem;
    border: 1px solid black;
    font-size: 0.7rem;
    
}

.tierAndPoint span {
    display: block;

}

.tierAndPointText {
    gap: 0.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: gainsboro;
    width: 7rem;
    padding: 3px 10px;
}

.winRateBox {
    font-size: 0.7rem;
    background-color: gainsboro;
    padding: 3px 10px;
    width: 9rem;
    text-align: center;
    
}
